// Base
*:focus {
    outline: transparent;
}

img {
    @include img-fluid;
}

body {
    letter-spacing: -0.01em;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    word-wrap: break-word;
    position: relative;
}

@media screen and (max-width: 600px) {
    #wpadminbar {
        position: fixed;
        top: 0;    
    }
}

select {
    @extend .form-select;
    padding: .25rem 2.2rem .25rem .75rem;
    background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAMAAACzvE1FAAAADFBMVEUzMzMzMzMzMzMzMzMKAG/3AAAAA3RSTlMAf4C/aSLHAAAAPElEQVR42q3NMQ4AIAgEQTn//2cLdRKppSGzBYwzVXvznNWs8C58CiussPJj8h6NwgorrKRdTvuV9v16Afn0AYFOB7aYAAAAAElFTkSuQmCC) no-repeat right .75rem center;
    background-image: none \9;
    background-size: 8px 10px;
    -webkit-appearance: none;
}

ins {
    color: $danger;
    text-decoration: none;
}

.stretch-full-width {
    @include stretch-full-width;
}

.light-bg {
	background: lighten($border-color, 6%);
}

.site-content {
    margin-bottom: 2.857em;

    & + .brands-carousel {
        margin-top: 0;
    }
}

.site-main > *:last-child {
    margin-bottom: 0;

    &.section-products-carousel {
        .products-carousel {
            margin-bottom: -1.643em;
        }
    }
}

.bg-cover {
    background: no-repeat center center / cover;
}

.border-bottom-0-last-child li:last-child {
    border-bottom: 0 !important
}

.rounded-sm {
    border-radius: 10px;
}

.shadow-hover:hover {
    @include media-breakpoint-up(xl) {
        box-shadow: 0px 24px 26.19px 0.81px rgba(0, 0, 0, 0.1);
    }
}

.page{
	.entry-header {
		text-align: center;
		margin-bottom: 2.857em;

		h1 {
			font-size: 2.857em;
			letter-spacing: -0.025em;
			margin-bottom: 0;
		}

		.entry-subtitle {
			color: #9f9f9f;
		}

		&.header-with-cover-image {
			background-size: cover;
			background-position: center top;
			width: 100vw;
			margin-left: -50vw;
			left: 50%;
			position: relative;
			min-height: 589px;
			margin-bottom: 0;

			.caption {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);

				h1 {
					font-weight: 700;
					margin-bottom: 0;
				}

				.entry-subtitle {
					color: #434343;
					font-size: 1.286em;
					position: relative;
					top: 1.667em;
				}

			}
		}
	}
}

@include media-breakpoint-down(md) {/*upto 544*/
	#content {
		margin-bottom: 5.714em;
	}
}

.electro-mode-switcher {
    display: none;
    position: fixed;
    top: 50%;
    left: 5vh;
    flex-direction: column;
    background-color: #a9a6a6;
    border-radius: 50px;
    height: 106px;
    width: 30px;
    cursor: pointer;
    z-index: 9;
    box-shadow: 0px 0px 0px 3px #a9a6a6;

    span {
        writing-mode: vertical-rl;
        margin: 0;
        padding: 0;
        transform: scale(-1, -1);
        width: 30px;
        padding: 10px;
        line-height: .7;
        font-weight: $font-weight-bold;
    }

    .light {
        background-color: $white;
        color: $body-color;
    }

    .light,
    .dark {
        border-radius: 50px;
    }

    .dark {
        color: #383838;
    }
}

body.electro-dark {
    .electro-mode-switcher {
        .light {
            background-color: transparent;
            color: #383838;
        }

        .dark {
            background-color: $white;
            color: $body-color;
        }
    }
}

@include media-breakpoint-up(xl) {
    .electro-mode-switcher {
        display: flex;
    }
}

// Wrapper for the tooltip content
.tooltip-inner {
    border-radius: $tooltip-border-radius !important;
}

.tooltip-arrow {
    border-style: none !important;
}
