.header-v4 {
    .masthead {
        padding: 2em 0;
    }

    .electro-navbar-primary {
        border-top: 1px solid;
    }

    .header-icon-counter {
        background-color: $body-color;
        color: $white;
    }

    &.stuck {
        box-shadow: 0 0 6px 0 rgba(1,1,1,.3);

        .electro-navbar-primary {
            display: none;
        }

        .masthead {
            padding: 0.69em 0;
        }
    }
}
