.header-v2 {
    .masthead {
        padding: 1.9em 0 1.429em;
    }

    &.stuck {
        background-color: $white;
        box-shadow: 0 0 6px 0 rgba(1,1,1,.3);

        .masthead {
            padding: .69em 0;
        }

        .masthead + .electro-navbar {
            display: none;
        }
    }
}
