.page-id-281 .full_wrapper.padtb_100_100 .col-lg-4 {
  display: none;
}
.page-template-solutions .read_more {
  display: none;
}
.inner-banner {
  padding-top: 320px !important;
}
.plft30 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.welding-col .pad_zero {
  display: none;
}
.welding-col .col-lg-7 {
  width: 100%;
}
.contact-map {
  width: 100%;
  height: 450px;
}
.contact-map iframe {
  width: 100%;
}
#minimal-bootstrap-carousel .left.carousel-control,
#minimal-bootstrap-carousel .right.carousel-control {
  display: none;
}
#iso-slider .dedicated-team-img-holder img {
  height: auto;
}
#iso-slider .controls.pull-right {
  display: none !important;
}
button.view-all.shop_add_cart.add_cart_second_btn {
  width: auto !important;
}
.hdr_social_icons a:first-child {
  display: block;
  border-right: none;
}
.hdr_social_icons a {
  display: none;
}
.brand-section {
  margin-top: 50px;
}
#iso-slider .overlay {
  display: none;
}
.ftr_mid {
  background: #9c836b !important;
}
.widget-footer .textwidget {
  color: #ffffff;
}
footer h6 {
  color: #ffffff;
}
ul.ftr_nav li a {
  color: #ffffff;
}
ul.ftr_nav li {
  color: #ffffff;
}
.hdr_search {
  background: transparent !important;
  border: 1px solid #ffffff;
  color: #fff;
}
.hdr_search .form-control {
  color: #fff;
}
header {
  background: #9c836b;
}
.hdr_top_bar {
  background: #3f3b38;
  border-bottom: 1px solid #3f3b38;
}
ul.hdr_top_list li {
  color: #fff;
}
.padtb_96_47 .read_more {
  display: none !important;
}
.sticky_header {
  background: -webkit-linear-gradient(top, #e9c865 0%, #d0ac54 100%) !important;
}
@media (max-width: 768px) {
  .sticky_header {
    background: -webkit-linear-gradient(
      top,
      #9c836b 0%,
      #9c836b 100%
    ) !important;
  }
  .logo-menu img {
    width: 60%;
  }
  #main-navigation {
    margin-top: -10px;
  }
}
.enitre_mouse .effect-apollo img {
  max-height: 190px;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}
.hdr_top_list .hdr_call_icon {
  margin-top: 10px;
  margin-bottom: 10px;
}
.variation_home_1 {
  margin-top: 0px !important;
}
