.dropdown-menu-mini-cart {
	ul.product_list_widget {
		li.mini_cart_item {
			dl.variation {
				margin-top: 5px;

				dt.variation-Seller,
				dd.variation-Seller p {
					float: left;
					margin: 0;
				}

				dd.variation-Seller {
					padding-left: 5px;
					display: inline-block;
					margin: 0;
				}
			}
		}
	}
}
