.dokan-theme-electro {
	table.shop_table {
		 tbody {
		 	tr.cart_item {
		 		td.product-name {
		 			dl.variation {
		 				dt.variation-Seller,
		 				dd.variation-Seller p {
		 					float: left;
		 					margin: 0;
		 				}

		 				dd.variation-Seller {
							padding-left: 5px;
							display: inline-block;
							margin: 0;
						}
		 			}
		 		}
		 	}
		}
	}

	.checkout_coupon {

		.form-row-first {
			padding: 0;
		}

		.form-row-last {
			padding: 0;
		}
	}
}
